{% extends "useradmin/admin/dashboard.html" %}
{% block content %}
<h2>All Orders</h2>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user.username }}</td>
            <td>${{ order.price }}</td>
            <td>{{ order.product_status }}</td>
            <td>{{ order.order_date }}</td>
            <td>
                <a href="{% url 'useradmin:admin_order_detail' order.id %}">View</a> |
                <a href="{% url 'useradmin:admin_order_update' order.id %}">Update Status</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
